node_modules

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.idea

build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

reports
allure-report
allure-results
*.mp4
